/* Define o estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: hsl(106, 93%, 45%);
    text-align: center;
    padding-top: 50px;
   }

   /* Estiliza o título principal */
   h1 {
    color: #003366;
   }

   /* Estiliza o parágrafo */
   p {
    font-size: 20px;
    color: #333333;
   }

   /* Estiliza o botão */
   button {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
   }

   /* Efeito quando o mouse passa por cima do botão */
   button:hover {
    background-color: #0055aa;
   }